@layout AdminLayout

@page "/admin/user"

@namespace Woa.Webapp.Pages.Admin

@attribute [Authorize]

@using Woa.Common

@inject IUserApi Api
@inject IMessageService MessageService

<PageTitle>用户列表</PageTitle>

<div>
    <PageContainer>
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>首页</BreadcrumbItem>
                <BreadcrumbItem>用户管理</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>

        <ChildContent>
            <Card Title="用户列表">
                <Extra>
                    <Search Placeholder="输入关键字搜索"/>
                </Extra>
                <ChildContent>
                    <AntList TItem="UserItemDto" ItemLayout="ListItemLayout.Horizontal">

                    </AntList>
                </ChildContent>
            </Card>
        </ChildContent>
    </PageContainer>
</div>

@code
{
    private ObservableRangeCollection<UserItemDto> Items { get; } = new();

    private string Keywords { get; set; }

    private int PageNumber { get; set; }

    private CancellationObject Cancellation { get; } = new(TimeSpan.FromSeconds(10));

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SearchAsync();
    }

    private async Task SearchAsync()
    {
        Cancellation.Cancel();

        var condition = new UserQueryDto()
        {
            Keywords = Keywords
        };

        try
        {
            var page = PageNumber + 1;
            var response = await Api.SearchAsync(condition, page, 10, Cancellation.Token);
            var result = response.EnsureSuccess();
            Items.ReplaceRange(result);
            PageNumber = page;
        }
        catch (Exception exception)
        {
            await MessageService.Error(exception.Message);
        }
        finally
        {
            Cancellation.Reset();
        }
    }
}